# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# Next.js
.next
next-env.d.ts

# dotenv environment variable files
.env*.local

# caches
.turbo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
