# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
.next

# dotenv environment variable files
.env*.local

# caches
.turbo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
